*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

h1 {
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}
#page-title {
    font-family: Arial, Helvetica, sans-serif;
    color: purple;


}

.title{
    font-size: 18px;
    font-family: monospace;
}

.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li {
    display: inline-block; /* para que salga horizontal */
}

.nav a{
    color: white;
    background-color:black;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    
}

.nav .Blog {
    background-color: red; /* !important pinta por encima de todas las ordenes  */
}
