* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} /* BUENAS PARACTICAS REINICIAR TODO ESTO */
main {
    width: 100vw;
    height: 100vh;
    background-color: purple;
}
section {
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: red;
}