* {
    box-sizing: border-box;
    padding: 0;  /* ELEMENTO UNIVERSARL para REINICIAR LOS STULYLOS PREDETERMINADOS DEL NAVEGADOR */
    margin: 0%;
}

main {
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px; /* primero: arriba-abajo, segundo: izquierda-derecha */
    
}