* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.parent {
    border: 2px black dotted; /* Esto crea un borde de pepitas sobre el parent */
    display: inline-block; /* Los organiza en bloque en filas  */
} 
.box {  
    display: inline-block; /* Los acomoda y organiza en columna */
    background-color: red; 
    width: 100px; /* Crea las tarjetas de 100*100 pxs */
    height: 100px;
} 
#two /* ASI SE LLAMA EL ID two */ {
    background-color: green;

}
