* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
} 

main div {
    border: 0.2rem black solid;
}

.titulo {
    border-radius: 0.5rem;
    font-size: 5rem;
    background-color: white;
    padding: 2rem;
    margin: auto;
    text-align: center;
    width: 25rem;
    position: relative;
    top: 1rem;
    font-family: 'Square Peg', cursive;

}
.logo {
    width: 20rem;
    height: 20rem;
}

.Descripcion {
    font-family: 'Square Peg', cursive;
    background-color: black;
    color: white;
    border-radius: 3rem;
    font-size: 5rem;
    text-align: center;
    width: 60rem;
    margin: auto;
    padding: 3.5rem 5rem;

}