.block-elements {
    background-color: green;
    margin: 10px;
    padding: 20px;
}

.nav {
    background-color: peachpuff;
    padding: 20px;
    list-style: none; /* Quitar los punticos de la lista */
    text-align: center;
}
.nav li {
    display: inline-block;
    font-display: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
}
#one {
    background-color: red;
    border-radius: 15px;
}