* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%; /* para utilizar rem */
}

body {
    font-size: 1.6rem;
}

.container {
    border: .3rem solid black;
    display: flex; /* Cada uno puedo cohesistir con cada uno de ellos */
    align-items: baseline;
    height: 50vh;
}
.box {
    width: 10rem;
    height: 10rem;
    margin: 0.2rem;
}
.box1 {
    background-color: blue;
}
.box2 {
    background-color: blueviolet;
}
.box3 {
    background-color: burlywood;
}
.box4 {
    background-color: cadetblue;
}
.box5 {
    background-color: coral;
}
.box6 {
    background-color: salmon;
}