:root {
    --primary-color:#003476;
    --secundary-color:#b4d2f7;
    --header-size:4rem;
    --font: 1.8rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%; /* para utilizar rem */
}

header {
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color)
}

main {
    width: 100vw;
    height: 70vh;
    font-size: 1.8rem;
}
h1 {
    font-size: 4rem;
    color: var(--primary-color);

}
footer {
    width: 100vw;
    height: 15vh;
    background-color: var(--secundary-color)
}