*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} /* ESTO SIEMPRE TIENE QUE VENIR EN TODOS LOS ARCHIVOS DE CSS  */
html {
    font-size: 62.5%;
} /* Eeste es el truco para trabajar con rem */
p {

    font-size: 2rem;
}
main div {
    font-size: 1.6rem;
}