body {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.imagenes {
    width: 100px;
    height: 100px;
    padding: 0px;
    display: flex;
    justify-content: center;    
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}
ul {
    padding: 0;
}
p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}
.productos {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.container {
    font-size: large;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;



}

.articulos {
    padding: 20px;
    border-style: groove;
    border-color: black;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

.articulos a {
    color:black;
    text-decoration: none;
    font-weight: bold;
}

.articulos img {
    border-radius: 30px;
}