* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
} 

main div {
    border: 0.2rem black solid;
    }
    
.title-box {
    border-radius: 0.5rem;
    background-color: red;
    font-size: 1.8rem;
    margin: auto;
    padding: 2rem;
    text-align: center;
    width: 15rem;
    position: relative;
    top: 3rem;
}
    
.content-box {
    font-size: 1.6rem;
    background-color: gainsboro;
    margin: auto;
    border-radius: 5rem;
    width: 50rem;
    padding: 7.5rem 5rem;
}