* {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60px;
}

a {
    text-decoration: none; /* Ninguna etiqueta de ancla tiene decoracion */
    cursor: pointer; /* Cuando paso el cursor por encima se pone pointer la mano! */
}
header nav {
    display: flex;
    justify-content: flex-end; /* Envio el contenido al final de la pagina */
}
header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none; /* quitar decoracion a las listas */
    justify-content: center; /* justificamos el contenido en el centro  */
    align-items: center; /* alineamos los items en el centro  */
}
nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section .menu-icon {
    background-image: url('/Google_clone_platzi/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}
nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}

main {
    margin-top: 150px;
    text-align: center;
}

.main-logo {
    margin: 0 auto; 
    margin-bottom: 35px;
}
.main-logo img {
    height: 92px;
    width: 272px;
    margin-top: 10px;
}

.main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}


.main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-input-container input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none; /* quita el cambio de selecion de color */
}

.main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

.search-icon {
    background-image: url('https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;

}

.micro-icon {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;

}

.main-buttons {
    width: 530px;
    margin: 0 auto;
}

.main-buttons div {
    display: inline-block;
}

.main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

.main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px black;
    color: #000000;
}