.container{
    width: 800px;
    margin-left: auto; /* Esto lo que hace es que cuando supere los 800px se va empezar a centrar gracias a los margin */
    margin-right: auto;
}
.c1{
    width: 60%;
}
.c2 {
    width: 40%;
}
.c3, .c4 {
    width: 33%;
}
.c5 {
    width: 34%;
}