*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

html {
    font-size: 62.2%;
}

.container {
    display: flex; /* Contenedor principal que hace flex en todo la pagina */
    flex-wrap: wrap; /* nuestro contenido puedan reposicionarse cuando su tamaño lo necesita */
}

.c1, .c2, .c3, .c4 ,.c5 {

    width: 100%;
    min-width: 150px;    
    height: 150px;
}

.c1 {
    background-color: #003476;
}
.c2 {
    background-color: #0062d2;
}
.c3 {
    background-color: #b4d2f7;
}
.c4 {
    background-color: #d5dfef;
}
.c5 {
    background-color: #dfe1e5;
}

/* @media (min-width: 600px) {

    .c2, .c3, .c4 {
        width: 50%;  *//* Para dispositivos mayores ah 60px esto es lo que va suceder */
/*     }
 */
/* @media (min-width: 800px) {
    .container{
        width: 800px;
        margin-left: auto; /* Esto lo que hace es que cuando supere los 800px se va empezar a centrar gracias a los margin */
/*         margin-right: auto;
    }
    .c1{
        width: 60%;
    }
    .c2 {
        width: 40%;
    }
    .c3, .c4 {
        width: 33%;
    }
    .c5 {
        width: 34%;
    }
} */ 

