.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}
.main-nav__item {
    display: inline-block;
}
.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;

} 

.main-nav__item a:hover {
    color: blue;        /* Pseudoclase hover cuando el mause pasa por encima cambia de color  */
}

.main-nav__item a:active {
    color: red; /* pseudo clase esta es cuando esta activo esa pagina pasa a ese color */
}

.main-nav__item a::after {
    content: " || "; /* pseudoelemento ---> despues de este contenido agregar esto  */
}